<!DOCTYPE html>
<!-- Pair Programming
    1/17/2020
 Team: Ekam, Laxmi, Maureen
 Description: creating website for pets using fat free and github
-->
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--Styles.css-->
    <link rel="stylesheet" type="text/css" href="./styles/styles.css">
    <title>Pets</title>

    <link rel="icon" type="image/png"
          href="/images/pet.jpeg">
</head>
<body>
<div class="card border-danger" >
    <div class="row">
        <div class="col-md-5">
            <div class="card-body">
                <h1 class="card-title text-center">Hello Pets!</h1>
                <p>Visit our pet shop to see the smiles on our well cared for Pets.
                They show a smile on their faces with delight.</p>
                <br>
                <h4>Remember Pet day is next week Saturday!</h4>
            </div>
        </div>
        <div class="col-md-4">
            <img class="img-thumbnail" src="images/pet.jpg" alt="image">
        </div>
    </div>
</div>
</body>
</html>