<!DOCTYPE html>
<!-- Pair Programming
    1/17/2020
 Team: Ekam, Laxmi, Maureen
 Description: creating website for pets using fat free and github
-->
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--Styles.css-->
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <title>Pets</title>

    <link rel="icon" type="image/png"
          href="images/pet.jpeg">
</head>
<body>
<h1>Hello Pets!</h1>

<img src="images/pet.jpg" alt="image">

</body>
</html>